<mat-toolbar>
	<mat-toolbar-row>
		<img src="assets/images/logos/selected-logo-bottom.png" alt="Selected Bottom Logo"
			crossorigin="anonymous" />
		<a mat-button class="white" href="#home">Home</a>
		<a mat-button class="white" href="#services">Services</a>
		<a mat-button class="white" href="#our-team">Our Team</a>
		<a mat-button class="white" href="#join-us">Join Us</a>
		<a mat-button class="white green-bg rounded">SIGN UP</a>
		<span class="spacer"></span>
		<span><strong>Follow</strong> Us:</span>
		<a mat-fab href="https://www.facebook.com" target="_blank">
			<img src="assets/images/icons/fb-logo.png" alt="Facebook Logo"
				crossorigin="anonymous" width="30px" />
		</a>
		<a mat-fab href="https://www.twitter.com" target="_blank">
			<img src="assets/images/icons/t-logo.png" alt="Twitter Logo"
				crossorigin="anonymous" width="30px" />
		</a>
		<a mat-fab href="https://www.youtube.com" target="_blank">
			<img src="assets/images/icons/yt-logo.png" alt="Youtube Logo"
				crossorigin="anonymous" width="30px" />
		</a>
		<a mat-fab href="https://www.linkedin.com" target="_blank">
			<img src="assets/images/icons/ln-logo.png" alt="LinkedIn Logo"
				crossorigin="anonymous" width="30px" />
		</a>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<img src="assets/images/copyrights.png" alt="Copyrights"
			crossorigin="anonymous" width="30px" />
	</mat-toolbar-row>
</mat-toolbar>
