a, a[mat-fab], span {
	background-color: transparent;
	box-shadow: none;
	color: white;
	fill: white;
}
a[mat-fab] > img {
	width: 5px;
	height: 5px;
	padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
mat-toolbar { background-color: #4f5963; }
