a, span {
	background-color: transparent;
}
a[mat-fab] {
	background-color: transparent;
	box-shadow: none;
}
a[mat-fab] > img {
	padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
mat-toolbar { background-color: #4f5963; }
