<div class="main-container" fxLayout="column" fxLayoutGap="8%"
	fxLayoutAlign="space-between center">
	<img id="bg-img" [src]="bgImageSrc" alt="Header Background" />
	<mat-toolbar id="main-toolbar" class="centered">
		<mat-toolbar-row>
			<img id="logo-img" src="assets/images/logos/selected-logo.png"
				alt="SELECTED LOGO" crossorigin="anonymous" />
			<span class="spacer" fxShow fxHide.lt-md></span>
			<nav fxShow fxHide.lt-md>
				<a mat-button class="white" href="#home">Home</a>
				<a mat-button class="white" href="#services">Services</a>
				<a mat-button class="white" href="#our-team">Our Team</a>
				<a mat-button class="white" href="#join-us">Join Us</a>
				<a mat-button class="white green-bg rounded">SIGN UP</a>
			</nav>
		</mat-toolbar-row>
		<mat-toolbar-row fxHide fxShow.lt-md>
			<button mat-button [matMenuTriggerFor]="topNavMenu"
				fxHide fxShow.lt-lg class="white" fxFill>
				Navigation Menu
			</button>
			<mat-menu #topNavMenu="matMenu" fxLayoutAlign="center center">
				<nav>
					<a mat-button href="#home" fxFill>Home</a>
					<a mat-button href="#services" fxFill>Services</a>
					<a mat-button href="#our-team" fxFill>Our Team</a>
					<a mat-button href="#join-us" fxFill>Join Us</a>
					<a mat-button class="green-bg" fxFill>SIGN UP</a>
				</nav>
			</mat-menu>
		</mat-toolbar-row>
	</mat-toolbar>
	<div id="title-container" fxLayout="column" fxLayoutAlign="center center">
		<h1 id="main-title" class="green large-text">THIS IS YOUR MISSION</h1>
		<h2 id="secondary-title" class="white">
			THIS PAGE NEEDS TO BE PERFECT FOR ALL BROWSERS & SCREENS!
		</h2>
	</div>
	<button mat-button id="get-started-button" class="white green-bg rounded">
		GET STARTED
	</button>
</div>
