#bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	filter: brightness(50%);
}
#main-toolbar {
	background-color: transparent;
	width: 80%;
}
#main-title { margin: 0; }
#secondary-title {
	font-weight: 500;
	margin: 0;
}
#get-started-button {
	margin: 10px;
}
