<div class="padded" id="services-container">
	<h2>Services</h2>
	<mat-tab-group>
		<mat-tab label="For Advertisers">
			<article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
				<section fxFlex="50%">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et lacus pulvinar, tristique arcu sit amet, dignissim ipsum. Aenean sed posuere lacus, at hendrerit quam. Phasellus urna neque, volutpat placerat pretium sit amet, luctus eget sapien. In ut erat placerat, commodo dolor quis, vehicula urna. Sed imperdiet eros eget erat lacinia mattis. Cras et euismod nisi. Integer lobortis metus turpis, sit amet varius libero vestibulum et. Nulla porta vulputate tempus.
						Curabitur imperdiet leo ipsum, eu condimentum massa finibus ut. Sed interdum, dui et consectetur varius, mi nulla tincidunt ipsum, nec volutpat dolor nibh sit amet erat. Aliquam erat volutpat. Pellentesque venenatis leo leo, vel rhoncus ligula fringilla quis. Phasellus maximus eleifend sem nec consequat. Integer eu consectetur lorem. Curabitur porttitor quam quis tincidunt mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<p>
						<strong>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et lacus pulvinar, tristique arcu sit amet, dignissim ipsum. Aenean sed posuere lacus, at hendrerit quam. Phasellus urna neque, volutpat placerat pretium sit amet, luctus eget sapien. In ut erat placerat, commodo dolor quis, vehicula urna. Sed imperdiet eros eget erat lacinia mattis. Cras et euismod nisi. Integer lobortis metus turpis, sit amet varius libero vestibulum et. Nulla porta vulputate tempus.
						</strong>
					</p>
				</section>
				<section fxFlex="50%">
					<img src="assets/images/content-img.png" alt="Content Image" width="100%" />
				</section>
			</article>
		</mat-tab>
		<mat-tab label="For Publishers"></mat-tab>
		<mat-tab label="Technology"></mat-tab>
		<mat-tab label="Creative Team"></mat-tab>
		<mat-tab label="Web Developers"></mat-tab>
	</mat-tab-group>
</div>
